accelerate
chromadb>=0.3.26
codetiming
datasets
deepspeed
dill
elasticsearch
fastapi
fastchat
fire
hydra-core
liger-kernel
loguru
numpy
openai
pandas
pebble
peft
pyarrow>=15.0.0
pybind11
pylatexenc
pyyaml
pre-commit
ray[default]
requests
scipy
sentencepiece
SPARQLWrapper
tenacity
tensordict<=0.6.2
torchdata
tqdm
transformers
wandb